Repository Xilinx/VMR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Send boardinfo to SC
  vmr/src/vmc/platforms/v70.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Send boardinfo to SC
  vmr/src/vmc/platforms/v70.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

CR-1066713 Method to discover zocl version number via xbutil/xbmgmt (#198)
  build/build.sh
  build/build_qdma1.json
  build/build_qdma2.json
  vmr/src/common/cl_log.c
  vmr/src/common/cl_xgq_client.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/include/cl_io.h
  vmr/src/include/cl_rmgmt.h
  vmr/src/rmgmt/rmgmt_common.h
  vmr/src/rmgmt/rmgmt_fpt.c
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/rmgmt/rmgmt_xfer.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava

system.dtsi of vck5000 doesn't work with qdma2 shell
  build/dts/README.md
  build/dts/v70.dtsi
  build/dts/v70_2022.2.dtsi
  build/dts/vck5000.dtsi
  build/dts/vck5000_2022.1.dtsi
  build/dts/vck5000_2022.2.dtsi
Owners: @xdavidz

debug
  build/dts/v70_2022.2.dtsi
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

CR-1138314 Update system DTS for PS kernel reserved memory
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

fix dtc warnings
  build/dts/vck5000_2022.2.dtsi
Owners: @xdavidz

adjust serial number
  build/dts/v70_2022.2.dtsi
  build/dts/vck5000_2022.2.dtsi
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

add more protection for serial number
  build/dts/vck5000_2022.2.dtsi
Owners: @xdavidz

tweak v70 dtsi
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

tweak v70.dtsi, reserve memory for vdo doesn't work
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

CR-1138314 system.dtsi of vck5000 doesn't work with qdma2 shell (#205)
  build/dts/README.md
  build/dts/v70.dtsi
  build/dts/v70_2022.2.dtsi
  build/dts/vck5000.dtsi
  build/dts/vck5000_2022.1.dtsi
  build/dts/vck5000_2022.2.dtsi
Owners: @xdavidz

print log before configASSERT crash entire VMR
  vmr/src/include/cl_log.h
  vmr/src/vmc/vmc_sc_comms.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

print log before configASSERT crash entire VMR (#208)
  vmr/src/include/cl_log.h
  vmr/src/vmc/vmc_sc_comms.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

switch VMR pipeline to vck5000 qdma2
  build/build.json
Owners: @xdavidz

CR-1139694 load system.dtb only at the time when shell just starts
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

CR-1139694 load system.dtb only at the time when shell just starts (#211)
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

CR-1138787 PR1 Identify Cmd VMR Cleanup
  vmr/src/common/cl_xgq_client.c
  vmr/src/include/cl_rmgmt.h
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Reverted First Commit
  vmr/src/common/cl_xgq_client.c
  vmr/src/include/cl_rmgmt.h
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Added Clock shutdown feature for V70 platform
  vmr/src/vmc/platforms/v70.c
  vmr/src/vmc/platforms/v70.h
  vmr/src/vmc/platforms/vck5000.c
  vmr/src/vmc/vmc_sensors.c
  vmr/src/vmc/vmc_sensors.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

CR-1138787 Rework Changes
  vmr/src/common/cl_xgq_client.c
  vmr/src/include/cl_msg.h
  vmr/src/include/cl_rmgmt.h
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

fix broken TA by using exace same xsa file, note: this is a workaround
  build/build.sh
  build/create_bsp.tcl
Owners: @xdavidz

source daily_latest after build.sh
  docker/vmr_setup_build.sh
Owners: none

add build.sh -vmr for fastest build source code only
  build/build.sh
Owners: @xdavidz

fix broken TA by using exace same xsa file, note: this is a workaround (#214)
  build/build.sh
  build/create_bsp.tcl
Owners: @xdavidz

add build.sh -vmr for fastest build source code only (#215)
  build/build.sh
Owners: @xdavidz

switch VMR pipeline to vck5000 qdma2 (#210)
  build/build.json
  docker/vmr_setup_build.sh
Owners: @xdavidz

id cmd
  vmr/src/common/cl_xgq_client.c
  vmr/src/include/cl_msg.h
  vmr/src/include/cl_rmgmt.h
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

bring VMR pipeline to 0907_1 TA
  build/build.json
Owners: @xdavidz

Added Clock shutdown feature for V70 platform
  vmr/src/vmc/platforms/v70.c
  vmr/src/vmc/platforms/v70.h
  vmr/src/vmc/platforms/vck5000.c
  vmr/src/vmc/vmc_sensors.c
  vmr/src/vmc/vmc_sensors.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

bring VMR pipeline to 0907_1 TA (#209)
  build/build.json
Owners: @xdavidz

CR-1139862 v70 and vck5000 divergence in original system.dts
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

CR-1138787 Error Handling Improvisation
  vmr/src/common/cl_main.c
  vmr/src/common/cl_xgq_client.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1138787 Review Changes Final
  vmr/src/common/cl_main.c
  vmr/src/common/cl_xgq_client.c
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1139862 v70 and vck5000 divergence in original system.dts (#217)
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

CR-1138787 Review Changes Final 2
  vmr/src/common/cl_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1138787 Review Changes Final 3
  vmr/src/common/cl_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1138787 PR1 Identify Cmd VMR Cleanup (#213)
  vmr/src/common/cl_main.c
  vmr/src/common/cl_xgq_client.c
  vmr/src/include/cl_msg.h
  vmr/src/include/cl_rmgmt.h
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1140836 V70: PL kernels are not working in interrupt mode
  build/dts/v5k.dts.orig
  build/dts/v70.dts.orig
  build/dts/v70_2022.2.dtsi
  build/dts/vck5000_2022.2.dtsi
Owners: @xdavidz

CR-1140836 V70: PL kernels are not working in interrupt mode (#220)
  build/dts/v5k.dts.orig
  build/dts/v70.dts.orig
  build/dts/v70_2022.2.dtsi
  build/dts/vck5000_2022.2.dtsi
Owners: @xdavidz

.github/CODEOWNERS:

# This file defines code ownership in VMR.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.

vmr/src/common/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/include/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/lscript.ld	@xdavidz
vmr/src/rmgmt/	@xdavidz @houlz0507
vmr/src/vmc/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava @sandeept8

build/ @xdavidz
