Repository Xilinx/VMR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krishna-xilinx, @houlz0507, @xdavidz

.github/CODEOWNERS:

# This file defines code ownership in VMR.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.

src/common/	@krishna-xilinx @houlz0507 @xdavidz
src/include/	@krishna-xilinx @houlz0507 @xdavidz
src/lscript.ld	@xdavidz
src/rmgmt/	@xdavidz
src/vmc/	@krishna-xilinx @houlz0507 @xdavidz

build/ @xdavidz

2021.2_daily_latest should pick up additional fix from embeddedsw
  build/create_bsp.tcl
Owners: @xdavidz

enable reset xgq ring buffer thus we can replace vmr.elf without needing a cold reboot
  src/common/cl_xgq_server.c
  src/include/cl_io.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz

enable reset xgq ring buffer thus we can replace vmr.elf without needing a cold reboot (#79)
  src/common/cl_xgq_server.c
  src/include/cl_io.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz

CR-1123097 ASTeR basic sanity - vck5000 - VMR version not displayed in xbutil/xbmgmt examine
  src/common/cl_main.c
  src/common/cl_xgq_server.c
  src/common/xgq_cmd_vmr.h
  src/include/cl_main.h
  src/include/cl_msg.h
  src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz

keep xgq_vmr_head's version in cl_msg.h
  src/include/cl_msg.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz

CR-1123196 Remove flush_default_only restriction when upgrading from backup
  src/rmgmt/rmgmt_fpt.c
Owners: @xdavidz

Revert "Refrain from using global variable to track SC update status"
  src/vmc/vmc_sc_comms.c
  src/vmc/vmc_sensors.c
  src/vmc/vmc_update_sc.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz

should not cast int to u16 then u32, lost accuracy (#75)
  build/build.sh
  build/create_bsp.tcl
  src/include/cl_msg.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507

adjust snprintf size
  src/common/cl_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz

CR-1123196 Remove flush_default_only restriction when upgrading from backup (#82)
  src/rmgmt/rmgmt_fpt.c
Owners: @xdavidz

CR-1123097 ASTeR basic sanity - vck5000 - VMR version not displayed i… (#81)
  src/common/cl_main.c
  src/common/cl_xgq_server.c
  src/common/xgq_cmd_vmr.h
  src/include/cl_main.h
  src/include/cl_msg.h
  src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz

Refrain from using global variable to track SC update status
  src/vmc/vmc_main.c
  src/vmc/vmc_sc_comms.c
  src/vmc/vmc_sensors.c
  src/vmc/vmc_update_sc.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz

CR-1123359 ASTeR TC 4.02 - vck5000 - validate hangs when ran after an attempt to trip the firewall
  src/common/cl_xgq_server.c
  src/common/xgq_cmd_vmr.h
  src/include/cl_main.h
  src/include/cl_msg.h
  src/include/vmr_common.h
  src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz

typo
  src/rmgmt/rmgmt_main.c
Owners: @xdavidz

Revert "Refrain from using global variable to track SC update status"
  src/vmc/vmc_sc_comms.c
  src/vmc/vmc_sensors.c
  src/vmc/vmc_update_sc.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz

Refrain from using global variable to track SC update status
  src/vmc/vmc_main.c
  src/vmc/vmc_sc_comms.c
  src/vmc/vmc_sensors.c
  src/vmc/vmc_update_sc.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz

check firewall and clear it when start rmgmt, check ops for pl related requests
  src/include/vmr_common.h
  src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz

backward compatible
  src/common/xgq_cmd_vmr.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz

fixed compiler warnings
  src/include/cl_log.h
  src/include/sysmon.h
  src/sysmon/sysmon.c
  src/sysmon/sysmon_dcg.c
  src/sysmon/sysmon_services.c
  src/vmc/sensors/src/qsfp.c
  src/vmc/vmc_api.c
  src/vmc/vmc_asdm.c
  src/vmc/vmc_asdm.h
  src/vmc/vmc_demo.c
  src/vmc/vmc_main.c
  src/vmc/vmc_sensors.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz
