Repository Xilinx/VMR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

.github/CODEOWNERS:

# This file defines code ownership in VMR.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.

vmr/src/common/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/include/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/lscript.ld	@xdavidz
vmr/src/rmgmt/	@xdavidz @houlz0507
vmr/src/vmc/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava @sandeept8

build/ @xdavidz

Fix for CR-1158076
  vmr/src/vmc/clock_throttling.c
  vmr/src/vmc/vmc_sensors.c
  vmr/src/vmc/vmc_sensors.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

V80.dtsi file integration into VMR
  build/dts/v80.dtsi
Owners: @xdavidz

clean up some coding style, we will enable checkpatch in future releases
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

sync up XRT and prepare coding styple clean up
  build/build.sh
Owners: @xdavidz

ALVEO-12951: Add new V80 sensor monitoring
  build/build_v80.json
  vmr/src/vmc/platforms/v70.c
  vmr/src/vmc/platforms/v80.c
  vmr/src/vmc/platforms/v80.h
  vmr/src/vmc/platforms/vck5000.c
  vmr/src/vmc/sensors/inc/cat34ts02.h
  vmr/src/vmc/sensors/inc/isl68221.h
  vmr/src/vmc/sensors/inc/qsfp.h
  vmr/src/vmc/sensors/src/cat34ts02.c
  vmr/src/vmc/sensors/src/isl68221.c
  vmr/src/vmc/sensors/src/qsfp.c
  vmr/src/vmc/vmc_api.h
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_asdm.h
  vmr/src/vmc/vmc_main.c
  vmr/src/vmc/vmc_sc_comms.c
  vmr/src/vmc/vmc_sensors.c
  vmr/src/vmc/vmc_sensors.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12951: Remove #define used for testing
  vmr/src/vmc/platforms/v80.c
  vmr/src/vmc/sensors/src/cat34ts02.c
  vmr/src/vmc/sensors/src/qsfp.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

V80.dtsi file integration into VMR (#307)
  build/dts/v80.dtsi
Owners: @xdavidz

coding style clean up and prepare for checkpatch coding style checking (#308)
  build/build.sh
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

ALVEO-12951: Changes from review comments.
  vmr/src/vmc/platforms/v80.c
  vmr/src/vmc/platforms/v80.h
  vmr/src/vmc/sensors/inc/cat34ts02.h
  vmr/src/vmc/sensors/src/cat34ts02.c
  vmr/src/vmc/sensors/src/isl68221.c
  vmr/src/vmc/sensors/src/lm75.c
  vmr/src/vmc/sensors/src/qsfp.c
  vmr/src/vmc/vmc_asdm.h
  vmr/src/vmc/vmc_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12951: Missed a sanity check
  vmr/src/vmc/platforms/v80.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12951: Changes following comments.
  vmr/src/vmc/platforms/v80.c
  vmr/src/vmc/sensors/src/cat34ts02.c
  vmr/src/vmc/sensors/src/isl68221.c
  vmr/src/vmc/sensors/src/lm75.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12951: Review comments addressed.
  vmr/src/vmc/sensors/src/lm75.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12951: Minor change
  vmr/src/vmc/sensors/src/lm75.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12952: Sensor fixes and adding V80 ASDM unit tests.
  vmr/src/vmc/platforms/v80.c
  vmr/src/vmc/ut/CMakeLists.txt
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_cat34ts02.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_ina3221.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_isl68221.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_qsfp.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_main_v80.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_sensor.c
  vmr/src/vmc/ut/test/vmc/CMakeLists.txt
  vmr/src/vmc/ut/test/vmc/utt_assert_SDRs.c
  vmr/src/vmc/ut/test/vmc/utt_assert_SDRs.h
  vmr/src/vmc/ut/test/vmc/utt_vmc_asdm.c
  vmr/src/vmc/ut/test/vmc/utt_vmc_asdm_v80.c
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_asdm.h
  vmr/src/vmc/vmc_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12952: Revert V70 to correct platform type
  vmr/src/vmc/vmc_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12952: Changes from code review.
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_qsfp.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_main_v80.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_sensor.c
  vmr/src/vmc/ut/test/vmc/CMakeLists.txt
  vmr/src/vmc/ut/test/vmc/utt_assert_SDRs.h
  vmr/src/vmc/ut/test/vmc/utt_vmc_asdm_v80.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12952: Changes on ../mocks/vmc/utm_vmc_sensor.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_sensor.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12953: Additional unit tests for sensors.
  vmr/src/include/cl_log.h
  vmr/src/vmc/sensors/src/cat34ts02.c
  vmr/src/vmc/sensors/src/ina3221.c
  vmr/src/vmc/sensors/src/isl68221.c
  vmr/src/vmc/sensors/src/lm75.c
  vmr/src/vmc/sensors/src/m24c128.c
  vmr/src/vmc/sensors/src/max6639.c
  vmr/src/vmc/sensors/src/qsfp.c
  vmr/src/vmc/ut/mocks/common/utm_cl_i2c.c
  vmr/src/vmc/ut/mocks/freertos/utm_queue.c
  vmr/src/vmc/ut/test/vmc/CMakeLists.txt
  vmr/src/vmc/ut/test/vmc/sensors/utt_cat34ts02.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_ina3221.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_isl68221.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_lm75.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_m24c128.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_max6639.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_qsfp.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_se98a.c
  vmr/src/vmc/ut/test/vmc/utt_vmc_asdm_v80.c
  vmr/src/vmc/vmc_asdm.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12953: Fixing alignments.
  vmr/src/vmc/ut/mocks/common/utm_cl_i2c.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_cat34ts02.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_ina3221.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_isl68221.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_lm75.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_m24c128.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_max6639.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_qsfp.c
  vmr/src/vmc/ut/test/vmc/utt_vmc_asdm_v80.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12953: Changes after review comments
  vmr/src/vmc/ut/mocks/freertos/utm_queue.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_cat34ts02.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_isl68221.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_lm75.c
  vmr/src/vmc/ut/test/vmc/utt_vmc_asdm_v80.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-13137: Add code to enable DDR DIMM on V80 and unit tests.
  vmr/src/vmc/platforms/v80.c
  vmr/src/vmc/sensors/inc/tca6416a.h
  vmr/src/vmc/sensors/src/tca6416a.c
  vmr/src/vmc/ut/mocks/common/utm_cl_i2c.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_tca6416a.c
  vmr/src/vmc/ut/test/vmc/CMakeLists.txt
  vmr/src/vmc/ut/test/vmc/sensors/utt_isl68221.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_max6639.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_tca6416a.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-13137: Review comment corrections
  vmr/src/vmc/sensors/inc/tca6416a.h
  vmr/src/vmc/sensors/src/tca6416a.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_tca6416a.c
  vmr/src/vmc/ut/test/vmc/sensors/utt_tca6416a.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-13137: Correcting a comment
  vmr/src/vmc/sensors/src/tca6416a.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12955: Add Unit Tests for v80.c platform file.
  vmr/src/vmc/platforms/v80.c
  vmr/src/vmc/platforms/v80.h
  vmr/src/vmc/ut/CMakeLists.txt
  vmr/src/vmc/ut/mocks/common/cl_io.h
  vmr/src/vmc/ut/mocks/common/utm_cl_io.c
  vmr/src/vmc/ut/mocks/freertos/utm_xil_cache.c
  vmr/src/vmc/ut/mocks/freertos/utm_xsysmonpsv.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_cat34ts02.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_ina3221.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_isl68221.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_lm75.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_qsfp.c
  vmr/src/vmc/ut/mocks/vmc/utm_clock_throttling.c
  vmr/src/vmc/ut/mocks/vmc/utm_v80.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_asdm.c
  vmr/src/vmc/ut/test/vmc/CMakeLists.txt
  vmr/src/vmc/ut/test/vmc/sensors/utt_qsfp.c
  vmr/src/vmc/ut/test/vmc/utt_v80.c
  vmr/src/vmc/ut/test/vmc/utt_vmc_asdm.c
  vmr/src/vmc/ut/test/vmc/utt_vmc_asdm_v80.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12955: Changes from review comments
  vmr/src/vmc/platforms/v80.c
  vmr/src/vmc/platforms/v80.h
  vmr/src/vmc/ut/mocks/common/cl_io.h
  vmr/src/vmc/ut/mocks/common/utm_cl_io.c
  vmr/src/vmc/ut/mocks/freertos/utm_xil_cache.c
  vmr/src/vmc/ut/mocks/freertos/utm_xsysmonpsv.c
  vmr/src/vmc/ut/test/vmc/utt_v80.c
  vmr/src/vmc/ut/test/vmc/utt_vmc_asdm.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12955: Additional changes following review
  vmr/src/vmc/platforms/v80.c
  vmr/src/vmc/ut/test/vmc/utt_v80.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12957: Remove V80 #define test code before merge to main
  vmr/src/vmc/platforms/v80.c
  vmr/src/vmc/sensors/src/cat34ts02.c
  vmr/src/vmc/sensors/src/qsfp.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12957: Added newline in qsfp.c
  vmr/src/vmc/sensors/src/qsfp.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

V70: Updated changes in VMC to match SC board info structure
  vmr/src/vmc/platforms/v70.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

V70: Updated changes in VMC to match SC board info structure
  vmr/src/vmc/platforms/v70.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

VDU Mem region overlap related fixes
  build/dts/v70_2023.1.1.dtsi
  build/dts/v70_2023.1.dtsi
Owners: @xdavidz

TA set to 2023.1 for base 3
  build/build_v70.json
Owners: @xdavidz

bump build_v70 to 2023.1 and base3
  build/build_v70.json
Owners: @xdavidz

bump build_v70 to 2023.1 and base3 (#315)
  build/build_v70.json
Owners: @xdavidz

Revert "V80.dtsi file integration into VMR (#307)"
  build/dts/v80.dtsi
Owners: @xdavidz

VDU Mem region overlap related fixes (#312)
  build/dts/v70_2023.1.1.dtsi
  build/dts/v70_2023.1.dtsi
Owners: @xdavidz

Update build.json in sync with build_v70.json
  build/build.json
Owners: @xdavidz

Installing base_3 shell
  docker/vmr_setup_build.sh
Owners: none

keeping only base 3
  docker/vmr_setup_build.sh
Owners: none

ALVEO-13319: Initialization of RMI handler
  vmr/src/common/cl_rmi.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava
