Repository Xilinx/VMR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1123359 ASTeR TC 4.02 - vck5000 - validate hangs when ran after an… (#84)
  src/common/cl_xgq_server.c
  src/common/xgq_cmd_vmr.h
  src/include/cl_main.h
  src/include/cl_msg.h
  src/include/vmr_common.h
  src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

handle 2022.1 vitis build (#87)
  build/build.sh
  build/create_bsp.tcl
Owners: @xdavidz

CR-1124025 Clone of issue with summary: Remove flush_default_only restriction when upgrading from backup (#86)
  src/common/cl_xgq_server.c
  src/common/xgq_cmd_vmr.h
  src/include/cl_msg.h
  src/rmgmt/rmgmt_fpt.c
  src/rmgmt/rmgmt_fpt.h
  src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1124325 VMR validate all incoming data from xgq (#85)
  src/include/vmr_common.h
  src/rmgmt/rmgmt_main.c
  src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

sensor conflicts with pdi download
  src/vmc/vmc_sc_comms.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

VMC: Stability fixes
  src/vmc/vmc_main.c
  src/vmc/vmc_update_sc.c
  src/vmc/vmc_update_sc.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

fix overflow condition
  src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

fixed compiler warnings (#80)
  src/include/cl_log.h
  src/include/sysmon.h
  src/sysmon/sysmon.c
  src/sysmon/sysmon_dcg.c
  src/sysmon/sysmon_services.c
  src/vmc/sensors/src/qsfp.c
  src/vmc/vmc_api.c
  src/vmc/vmc_asdm.c
  src/vmc/vmc_asdm.h
  src/vmc/vmc_demo.c
  src/vmc/vmc_main.c
  src/vmc/vmc_sensors.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

enable -Werror warning as error for VMR source code
  build/config_app.tcl
  src/rmgmt/rmgmt_main.c
Owners: @xdavidz, @houlz0507

enable -Werror warning as error for VMR source code (#74)
  build/config_app.tcl
  src/rmgmt/rmgmt_main.c
Owners: @xdavidz, @houlz0507

fixed compiler warnings (#80)
  src/include/cl_log.h
  src/include/sysmon.h
  src/sysmon/sysmon.c
  src/sysmon/sysmon_dcg.c
  src/sysmon/sysmon_services.c
  src/vmc/sensors/src/qsfp.c
  src/vmc/vmc_api.c
  src/vmc/vmc_asdm.c
  src/vmc/vmc_asdm.h
  src/vmc/vmc_demo.c
  src/vmc/vmc_main.c
  src/vmc/vmc_sensors.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

enable -Werror warning as error for VMR source code (#74)
  build/config_app.tcl
  src/rmgmt/rmgmt_main.c
Owners: @xdavidz, @houlz0507

VMC: fixed CR-1123054
  src/common/cl_uart_rtos.c
  src/vmc/vmc_asdm.c
  src/vmc/vmc_sc_comms.c
  src/vmc/vmc_sc_comms.h
  src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Fix Review comment and CR-1124742
  src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1123097 ASTeR basic sanity - vck5000 - VMR version not displayed in xbutil/xbmgmt examine
  src/common/cl_main.c
  src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

fix overflow condition
  src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Fix Review comment and CR-1124742
  src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Fix CR-1120679 and logging improvement
  src/common/cl_main.c
  src/common/cl_uart_rtos.c
  src/include/cl_config.h
  src/include/cl_log.h
  src/vmc/vmc_api.c
  src/vmc/vmc_api.h
  src/vmc/vmc_demo.c
  src/vmc/vmc_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1123097 ASTeR basic sanity - vck5000 - VMR version not displayed in xbutil/xbmgmt examine (#94)
  src/common/cl_main.c
  src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Fix for CR-1124668
  src/vmc/vmc_asdm.c
  src/vmc/vmc_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Fix for CR-1124668
  src/vmc/vmc_asdm.c
  src/vmc/vmc_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

adjust some xparameters for 2022.1 shell
  src/include/vmr_common.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Fix CR-1120679 and logging improvement
  src/common/cl_main.c
  src/common/cl_uart_rtos.c
  src/include/cl_config.h
  src/include/cl_log.h
  src/vmc/vmc_api.c
  src/vmc/vmc_api.h
  src/vmc/vmc_demo.c
  src/vmc/vmc_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

adjust some xparameters for 2022.1 shell (#96)
  src/include/vmr_common.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

move cl_config.h
  vmr/src/include/cl_config.h
Owners: none

Log msg to shared memory when clock shutdown occured
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/vmc/vmc_sensors.c
Owners: none

switch VMR build to 2022.1 daily_latest
  build/build.sh
  build/create_app.tcl
  build/create_bsp.tcl
  build/utils.sh
Owners: @xdavidz

switch VMR build to 2022.1 daily_latest (#99)
  build/build.sh
  build/create_app.tcl
  build/create_bsp.tcl
  build/utils.sh
Owners: @xdavidz

changing all endpoint name to VMR_EP_ and add to vmr_endport sysfs node
  build/build.sh
  vmr/src/common/cl_log.c
  vmr/src/common/cl_xgq_client.c
  vmr/src/common/cl_xgq_server.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/include/vmr_common.h
  vmr/src/rmgmt/rmgmt_clock.c
  vmr/src/rmgmt/rmgmt_common.h
  vmr/src/rmgmt/rmgmt_fpt.c
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/vmc/vmc_sensors.c
Owners: @xdavidz

fix lint warnings
  vmr/src/include/vmr_common.h
Owners: none

log info exceeding 512 char, using 1024 should be good for now
  vmr/src/rmgmt/rmgmt_main.c
Owners: none

changing all endpoint name to VMR_EP_ and add to vmr_endport sysfs node (#100)
  build/build.sh
  vmr/src/common/cl_log.c
  vmr/src/common/cl_xgq_client.c
  vmr/src/common/cl_xgq_server.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/include/vmr_common.h
  vmr/src/rmgmt/rmgmt_clock.c
  vmr/src/rmgmt/rmgmt_common.h
  vmr/src/rmgmt/rmgmt_fpt.c
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/vmc/vmc_sensors.c
Owners: @xdavidz

using pvPortMalloc instead of malloc
  build/create_bsp.tcl
  vmr/src/lscript.ld
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/vmc/vmc_asdm.c
Owners: @xdavidz

stable way to start VMC tasks
  vmr/src/common/cl_xgq_server.c
  vmr/src/include/cl_main.h
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/vmc/vmc_main.c
Owners: none

using pvPortMalloc instead of malloc (#102)
  build/create_bsp.tcl
  vmr/src/lscript.ld
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/vmc/vmc_asdm.c
Owners: @xdavidz

cached bsp needs to updated the heap size too
  bsp/2021.2_stable/bsp/psv_cortexr5_0/libsrc/freertos10_xilinx_v1_10/src/FreeRTOSConfig.h
Owners: none

CR-1126707 msg->log_payload.size set incorrectly
  vmr/src/rmgmt/rmgmt_main.c
Owners: none

CR-1126707 msg->log_payload.size set incorrectly (#108)
  vmr/src/rmgmt/rmgmt_main.c
Owners: none

Fix for CR-1123054 :
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_sc_comms.c
  vmr/src/vmc/vmc_sc_comms.h
  vmr/src/vmc/vmc_sensors.c
Owners: none

Changes for clock shudown
  vmr/src/common/cl_main.c
  vmr/src/include/cl_main.h
  vmr/src/include/vmr_common.h
  vmr/src/rmgmt/rmgmt_common.h
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/vmc/vmc_sensors.c
Owners: none

.github/CODEOWNERS:

# This file defines code ownership in VMR.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.

src/common/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
src/include/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
src/lscript.ld	@xdavidz
src/rmgmt/	@xdavidz @houlz0507
src/vmc/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava

build/ @xdavidz
