Repository Xilinx/VMR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

.github/CODEOWNERS:

# This file defines code ownership in VMR.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.

vmr/src/common/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/include/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/lscript.ld	@xdavidz
vmr/src/rmgmt/	@xdavidz @houlz0507
vmr/src/vmc/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava @sandeept8

build/ @xdavidz

switch VMR pipeline to V70
  build/build.json
  build/build.sh
  docker/vmr_setup_build.sh
Owners: @xdavidz

adjust build and upgrade_vmr.sh for better error handling.
  build/build.sh
  build/upgrade_vmr.sh
Owners: @xdavidz

switch VMR pipeline to V70 (#290)
  build/build.json
  build/build.sh
  build/upgrade_vmr.sh
  docker/vmr_setup_build.sh
Owners: @xdavidz

verify daily latest
  build/build.json
Owners: @xdavidz

Add a thread for RMI task
  build/build.sh
  vmr/src/common/cl_main.c
  vmr/src/common/cl_rmi.c
  vmr/src/include/cl_config.h
  vmr/src/include/cl_rmi.h
  vmr/src/vmc/vmc_api.h
  vmr/src/vmc/vmc_main.c
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava, @sandeept8

Migrated from Makefile to CMake build method for Unittest
  vmr/src/vmc/ut/CMakeLists.txt
  vmr/src/vmc/ut/Makefile
  vmr/src/vmc/ut/test/vmc/CMakeLists.txt
  vmr/src/vmc/ut/test/vmc/CodeCoverage.cmake
  vmr/src/vmc/ut/test/vmc/asdm/unittest.mk
  vmr/src/vmc/ut/test/vmc/sensor/se98a/unittest.mk
  vmr/src/vmc/ut/test/vmc/sensors/utt_se98a.c
  vmr/src/vmc/ut/test/vmc/utt_assert_SDRs.c
  vmr/src/vmc/ut/test/vmc/utt_assert_SDRs.h
  vmr/src/vmc/ut/test/vmc/utt_vmc_asdm.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Added cmocka-1.1.5 as a submodule
  .gitmodules
  vmr/src/vmc/ut/CMakeLists.txt
  vmr/src/vmc/ut/test/vmc/CMakeLists.txt
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Add a thread for RMI task
  build/build.sh
  vmr/src/common/cl_main.c
  vmr/src/common/cl_rmi.c
  vmr/src/include/cl_config.h
  vmr/src/include/cl_rmi.h
  vmr/src/vmc/vmc_api.h
  vmr/src/vmc/vmc_main.c
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava, @sandeept8

interrupt handle
  build/build.sh
  vmr/src/common/cl_main.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/include/vmr_common.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava

Added cmocka-1.1.5 as a submodule (#293)
  .gitmodules
  vmr/src/vmc/ut/CMakeLists.txt
  vmr/src/vmc/ut/test/vmc/CMakeLists.txt
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

CR-1153077_xgq_cmd_common_file_sync Impl
  vmr/src/common/xgq_cmd_common.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1153077_xgq_cmd_common_file_sync Impl (#294)
  vmr/src/common/xgq_cmd_common.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

PQ1 V70 dtsi file Integrated
  build/dts/v70_2023.1.dtsi
  build/dts/v70pq1.dtsi
Owners: @xdavidz

PQ2 V70 dtsi file Integrated
  build/dts/v70_2023.1.1.dtsi
  build/dts/v70pq2.dtsi
Owners: @xdavidz

Cached and Integrated System dtb Files
  build/dts/v70_2022.2_system.dts
  build/dts/v70_2023.1.1_system.dts
  build/dts/v70_2023.1_system.dts
Owners: @xdavidz

PQ1 V70 dtsi file Integrated (#295)
  build/dts/v70_2023.1.dtsi
  build/dts/v70pq1.dtsi
Owners: @xdavidz

PQ2 V70 dtsi file Integrated (#296)
  build/dts/v70_2023.1.1.dtsi
  build/dts/v70pq2.dtsi
Owners: @xdavidz

Cached and Integrated System dtb Files (#297)
  build/dts/v70_2022.2_system.dts
  build/dts/v70_2023.1.1_system.dts
  build/dts/v70_2023.1_system.dts
Owners: @xdavidz

CR-1124000 XRT VMR changes for: ASTeR - vck5000 - xbutil program does not error and continues programming when UUID does not match
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xclbin.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

VMR Boot Log Impl Stage 1
  vmr/src/common/cl_xgq_receive.c
  vmr/src/rmgmt/pm_init.c
  vmr/src/rmgmt/rmgmt_fpt.c
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_pm.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Impl Part2
  vmr/src/common/cl_i2c.c
  vmr/src/common/cl_log.c
  vmr/src/common/cl_ospi_polled.c
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Review changes
  vmr/src/common/cl_ospi_polled.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/rmgmt/pm_init.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1147138 VMR boot log optimization (#300)
  vmr/src/common/cl_i2c.c
  vmr/src/common/cl_log.c
  vmr/src/common/cl_ospi_polled.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/rmgmt/pm_init.c
  vmr/src/rmgmt/rmgmt_fpt.c
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_pm.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1124000_Interface_UUID_Impl
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/rmgmt/rmgmt_xfer.h
Owners: @xdavidz, @houlz0507

Review Changes Indentation and Mismatch handling
  vmr/src/include/cl_io.h
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/rmgmt/rmgmt_xfer.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

RMI Sensor Initialization
  build/create_bsp.tcl
  vmr/src/common/cl_rmi.c
  vmr/src/include/cl_rmi.h
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_asdm.h
  vmr/src/vmc/vmc_main.c
  vmr/src/vmc/vmc_sensors.c
  vmr/src/vmc/vmc_sensors.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava, @sandeept8

Improvements and Review changes
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/rmgmt/rmgmt_xfer.h
Owners: @xdavidz, @houlz0507

RMI Sensor Initialization
  build/create_bsp.tcl
  vmr/src/common/cl_rmi.c
  vmr/src/include/cl_rmi.h
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_asdm.h
  vmr/src/vmc/vmc_main.c
  vmr/src/vmc/vmc_sensors.c
  vmr/src/vmc/vmc_sensors.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava, @sandeept8

CR-1124000_Interface_UUID_Check (#302)
  vmr/src/include/cl_io.h
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/rmgmt/rmgmt_xfer.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

VMR Boot Log Impl for VMC
  vmr/src/vmc/vmc_api.c
  vmr/src/vmc/vmc_main.c
  vmr/src/vmc/vmc_update_sc.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Rebase changes
  vmr/src/vmc/vmc_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Rebase Re-adjust Cchanges
  vmr/src/vmc/vmc_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

CR-1147138 VMC-VMR Boot Log Optimization (#299)
  vmr/src/vmc/vmc_api.c
  vmr/src/vmc/vmc_main.c
  vmr/src/vmc/vmc_update_sc.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Add V70 Test Code
  vmr/src/vmc/platforms/v70.h
  vmr/src/vmc/platforms/vck5000.h
  vmr/src/vmc/vmc_api.c
  vmr/src/vmc/vmc_api.h
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Add V70 Test Code
  vmr/src/vmc/platforms/v70.h
  vmr/src/vmc/platforms/vck5000.h
  vmr/src/vmc/vmc_api.c
  vmr/src/vmc/vmc_api.h
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12190: Fix incorrect printing of max power
  vmr/src/vmc/vmc_api.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

RMI Sensor Improvement
  vmr/src/common/cl_rmi.c
  vmr/src/include/cl_rmi.h
  vmr/src/vmc/vmc_api.h
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_asdm.h
  vmr/src/vmc/vmc_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

RMI Sensor Improvement
  vmr/src/common/cl_rmi.c
  vmr/src/include/cl_rmi.h
  vmr/src/vmc/vmc_api.h
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_asdm.h
  vmr/src/vmc/vmc_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-12190: Fix incorrect printing of max power (#303)
  vmr/src/vmc/vmc_api.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Fix for CR-1158076
  vmr/src/vmc/clock_throttling.c
  vmr/src/vmc/vmc_sensors.c
  vmr/src/vmc/vmc_sensors.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8
