Repository Xilinx/VMR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

.github/CODEOWNERS:

# This file defines code ownership in VMR.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.

vmr/src/common/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/include/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/lscript.ld	@xdavidz
vmr/src/rmgmt/	@xdavidz @houlz0507
vmr/src/vmc/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava @sandeept8

build/ @xdavidz

VDU Mem region overlap related fixes (#312)
  build/dts/v70_2023.1.1.dtsi
  build/dts/v70_2023.1.dtsi
Owners: @xdavidz

VDU Mem region overlap related fixes (#312) (#318)
  build/dts/v70_2023.1.1.dtsi
  build/dts/v70_2023.1.dtsi
Owners: @xdavidz

Synced xgq_impl.h from XRT repo to work with GCQ v2
  vmr/src/common/xgq_impl.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Updated license header
  vmr/src/common/xgq_impl.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Synced xgq_impl.h from XRT repo to work with GCQ v2 (#319)
  vmr/src/common/xgq_impl.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Synced xgq_impl.h from XRT repo to work with GCQ v2 (#319)
  vmr/src/common/xgq_impl.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Synced xgq_impl.h from XRT repo to work with GCQ v2 (#319) (#320)
  vmr/src/common/xgq_impl.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Updating the version.json as per latest info
  build/version.json
Owners: @xdavidz

Updating the version.json as per latest info (#321)
  build/version.json
Owners: @xdavidz

getting shell package from 0328 TA
  docker/vmr_setup_build.sh
Owners: none

ALVEO-13319: Initialization of RMI handler (#314)
  vmr/src/common/cl_rmi.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Updating v70 dtsi to override ai-engine node's address range to workaround issues with aie driver not able to handle multiple address segments.
  build/dts/v70_2023.1.1.dtsi
  build/dts/v70_2023.1.dtsi
Owners: @xdavidz

Updating v70 dtsi to override ai-engine node's address range to workaround issues with aie driver not able to handle multiple address segments.
  build/dts/v70_2023.1.1.dtsi
  build/dts/v70_2023.1.dtsi
Owners: @xdavidz

Updating v70 dtsi to override ai-engine node's address range to workaround issues with aie driver not able to handle multiple address segments. (#322)
  build/dts/v70_2023.1.1.dtsi
  build/dts/v70_2023.1.dtsi
Owners: @xdavidz

Update vmr_setup_build.sh
  docker/vmr_setup_build.sh
Owners: none

log exceeds 80 chars per line
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

log exceeds 80 chars per line (#326)
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

Update build.json
  build/build.json
Owners: @xdavidz

ALVEO-13320: Implement GET_SDR API
  vmr/src/common/cl_rmi.c
  vmr/src/vmc/rmi.c
  vmr/src/vmc/rmi.h
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_asdm.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

UUID Check Bypass Fix
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

UUID Check Bypass Fix (#327)
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

Getting build.json in sync with build_v70.json (#317)
  build/build.json
  docker/vmr_setup_build.sh
Owners: @xdavidz

ALVEO-13320: Implement GET_SDR API
  vmr/src/common/cl_rmi.c
  vmr/src/vmc/rmi.c
  vmr/src/vmc/rmi.h
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_asdm.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-13322: Parse GET_SDR API
  vmr/src/vmc/rmi.c
  vmr/src/vmc/rmi.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

CR-1173531: Fix missing RMI/rmi_api.h
  vmr/src/vmc/rmi.c
  vmr/src/vmc/rmi.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

CR-1173531: Fix missing RMI/rmi_api.h (#329)
  vmr/src/vmc/rmi.c
  vmr/src/vmc/rmi.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

ALVEO-13322: Parse GET_SDR API
  vmr/src/vmc/rmi.c
  vmr/src/vmc/rmi.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

enable uuid check and return uuid back to host
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/rmgmt/rmgmt_fpt.c
  vmr/src/rmgmt/rmgmt_fpt.h
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/rmgmt/rmgmt_xfer.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

enable uuid check and return uuid back to host (#331)
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/rmgmt/rmgmt_fpt.c
  vmr/src/rmgmt/rmgmt_fpt.h
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/rmgmt/rmgmt_xfer.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

enable PQ2 shell and pdi build
  build/build.sh
  build/regen_pdi.sh
  build/regen_vmrpdi.sh
Owners: @xdavidz

address code review comments
  build/build.sh
  build/regen_pdi.sh
  build/regen_vmrpdi.sh
Owners: @xdavidz

enable PQ2 shell and pdi build (#332)
  build/build.sh
  build/regen_pdi.sh
  build/regen_vmrpdi.sh
Owners: @xdavidz

Match Vitis platform JSON with the corresponding TA
  build/build.json
  build/build_v70.json
  build/platform_2023.1_vitis.json
Owners: @xdavidz

Match Vitis platform JSON with the corresponding TA (#334)
  build/build.json
  build/build_v70.json
  build/platform_2023.1_vitis.json
Owners: @xdavidz

fix miss-matching xgq cmd header issues
  build/build.sh
Owners: @xdavidz

pq2 base1 is based on 2023.1
  build/build_v70pq2.json
Owners: @xdavidz

ALVEO-13321: Implement GET_ALL_SENSOR_DATA API
  vmr/src/common/cl_rmi.c
  vmr/src/vmc/rmi.c
  vmr/src/vmc/rmi.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

enable v70 pq2 base2 build with 2023.2 vitis
  build/build.sh
  build/build_v70_base3.json
  build/build_v70pq2_base1.json
  build/build_v70pq2_base2.json
  build/regen_pdi.sh
  vmr/src/common/xgq_cmd_common.h
  vmr/src/common/xgq_cmd_vmr.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava

enable v70 pq2 base2 build with 2023.2 vitis (#336)
  build/build.sh
  build/build_v70_base3.json
  build/build_v70pq2_base1.json
  build/build_v70pq2_base2.json
  build/regen_pdi.sh
  vmr/src/common/xgq_cmd_common.h
  vmr/src/common/xgq_cmd_vmr.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava

fix uuid parse corner cases
  build/build_v70pq2_base2.json
  vmr/src/rmgmt/rmgmt_xclbin.c
  vmr/src/rmgmt/rmgmt_xclbin.h
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/rmgmt/rmgmt_xfer.h
Owners: @xdavidz, @houlz0507
