Repository Xilinx/VMR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

.github/CODEOWNERS:

# This file defines code ownership in VMR.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.

vmr/src/common/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/include/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/lscript.ld	@xdavidz
vmr/src/rmgmt/	@xdavidz @houlz0507
vmr/src/vmc/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava @sandeept8

build/ @xdavidz

fix uuid parse corner cases (#337)
  build/build_v70pq2_base2.json
  vmr/src/rmgmt/rmgmt_xclbin.c
  vmr/src/rmgmt/rmgmt_xclbin.h
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/rmgmt/rmgmt_xfer.h
Owners: @xdavidz, @houlz0507

Validate default FPT Impl
  vmr/src/rmgmt/rmgmt_fpt.c
Owners: @xdavidz, @houlz0507

Create sysfs nodes default and backup Impl
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/rmgmt/rmgmt_fpt.c
  vmr/src/rmgmt/rmgmt_fpt.h
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Create sysfs nodes default and backup Impl (#335)
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/rmgmt/rmgmt_fpt.c
  vmr/src/rmgmt/rmgmt_fpt.h
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

regression found when return -EINVAL instead of -ENOENT for no partition_metadata of softkernel
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

regression found when return -EINVAL instead of -ENOENT for no (#338)
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

Alveo 13321 (#330)
  vmr/src/common/cl_rmi.c
  vmr/src/vmc/rmi.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Initial NO_VMC Changes
  build/build.sh
  build/config_app.tcl
  vmr/src/common/cl_main.c
  vmr/src/common/cl_uart_rtos.c
  vmr/src/common/cl_vmc_sc_comms.c
  vmr/src/common/cl_vmc_sensor.c
  vmr/src/common/cl_xgq_opcode.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/include/cl_uart_rtos.h
  vmr/src/include/cl_vmc.h
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/vmc/sensors/src/m24c128.c
  vmr/src/vmc/vmc_api.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava, @sandeept8

Rave build Changes using platform json file
  vmr/src/include/vmr_common.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

enhance updating system.dtb by adding a SYSTEM_METADATA in apu xsabin section
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

enhance updating system.dtb by adding a SYSTEM_METADATA in apu xsabin section (#341)
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

Adding platform_rave.json to /vmr/build/ folder
  build/platform_Rave.json
Owners: @xdavidz

Rave build Changes using platform json file (#340)
  build/platform_Rave.json
  vmr/src/include/vmr_common.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava

CR-1173173 base3 shell cannot be upgraded by plm image store
  vmr/src/rmgmt/rmgmt_ipi.c
Owners: @xdavidz, @houlz0507

CR-1173173 base3 shell cannot be upgraded by plm image store (#342)
  vmr/src/rmgmt/rmgmt_ipi.c
Owners: @xdavidz, @houlz0507

fix customized system.dtb load offset issue
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

DTB Initial changes
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

fix customized system.dtb load offset issue (#343)
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

review changes 1
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

final changes
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

Skip system.dtb check as part of extension FPT for RAVE (#344)
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

updating the interface to align with the XRT
  vmr/src/common/xgq_cmd_vmr.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

updating the interface to align with the XRT (#345)
  vmr/src/common/xgq_cmd_vmr.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava
