Repository Xilinx/VMR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

.github/CODEOWNERS:

# This file defines code ownership in VMR.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.

vmr/src/common/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/include/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/lscript.ld	@xdavidz
vmr/src/rmgmt/	@xdavidz @houlz0507
vmr/src/vmc/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava @sandeept8

build/ @xdavidz

build.sh should avoid loading TA from json files for -app, -vmr and -xsa
  build/build.json
  build/build.sh
Owners: @xdavidz

dynamic task level
  vmr/src/common/cl_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

adjust upgrade vmr
  build/upgrade_vmr.sh
Owners: @xdavidz

Fix for CR-1138929
  vmr/src/common/cl_uart_rtos.c
  vmr/src/include/cl_uart_rtos.h
  vmr/src/vmc/vmc_api.c
  vmr/src/vmc/vmc_sc_comms.c
  vmr/src/vmc/vmc_sc_comms.h
  vmr/src/vmc/vmc_update_sc.c
  vmr/src/vmc/vmc_update_sc.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

build.sh should avoid loading TA from json files for -app, -vmr and -xsa (#219)
  build/build.json
  build/build.sh
  build/upgrade_vmr.sh
Owners: @xdavidz

Fix for CR-1138929
  vmr/src/common/cl_uart_rtos.c
  vmr/src/include/cl_uart_rtos.h
  vmr/src/vmc/vmc_api.c
  vmr/src/vmc/vmc_sc_comms.c
  vmr/src/vmc/vmc_sc_comms.h
  vmr/src/vmc/vmc_update_sc.c
  vmr/src/vmc/vmc_update_sc.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

VMC side changes for CR-1140752
  vmr/src/vmc/platforms/v70.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

VMC side changes for CR-1140752
  vmr/src/vmc/platforms/v70.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

VMC fix for VITIS-6092
  vmr/src/common/cl_vmc_sc_comms.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

VMR Implementation of Identify Command
  vmr/src/common/cl_xgq_opcode.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/include/vmr_common.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

add changeds
  vmr/src/common/cl_xgq_opcode.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1138314 VDU dtsi file: Update system DTS for PS kernel reserved memory
  build/dts/v70.dts.orig
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

VMC fix for VITIS-6092
  vmr/src/common/cl_vmc_sc_comms.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

VMR Implementation of Identify Command
  vmr/src/common/cl_xgq_opcode.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

VMR Implementation of Identify Command (#225)
  vmr/src/common/cl_xgq_opcode.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1142076 infinite loop hangs entire RPU firmware application
  vmr/src/common/cl_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

address code review comments
  build/build_v70.json
  vmr/src/common/cl_main.c
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava

Add XRT module and add warning for diff of xgq header files
  .gitmodules
  build/build.sh
Owners: @xdavidz

2nd version
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

fix build.sh
  build/build.json
  build/build.sh
Owners: @xdavidz

Add XRT module and add warning for diff of xgq header files (#230)
  .gitmodules
  build/build.json
  build/build.sh
Owners: @xdavidz

3rd version
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

4th version
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

5th version
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

Run Time % Implementation (vmr_rtos_task_stats)
  vmr/src/rmgmt/rmgmt_main.c
Owners: @xdavidz, @houlz0507

Testing Fixes Minor and Failure Case Options
  vmr/src/rmgmt/rmgmt_main.c
Owners: @xdavidz, @houlz0507

BSP Config Setup FreeRTOS
  build/create_bsp.tcl
  vmr/src/rmgmt/rmgmt_main.c
Owners: @xdavidz, @houlz0507

CR-1138314 VDU dtsi file: Update system DTS for PS kernel reserved me… (#227)
  build/dts/v70.dts.orig
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

PR Review Changes: Error Case and Comments
  build/create_bsp.tcl
  vmr/src/rmgmt/rmgmt_main.c
Owners: @xdavidz, @houlz0507

CR 1142095 VMR Run Time Stats CPU % (#231)
  build/create_bsp.tcl
  vmr/src/rmgmt/rmgmt_main.c
Owners: @xdavidz, @houlz0507

bring build.json and XRT to 1009 TA.
  build/build.json
Owners: @xdavidz

sync xgq_cmd from XRT master to VMR
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_common.h
  vmr/src/common/xgq_cmd_vmr.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Fix for CR-1143055
  vmr/src/vmc/platforms/v70.c
  vmr/src/vmc/vmc_asdm.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

CR-1142346 xgq_cmd_common.h and xgq_cmd_vmr.h are out-of-date on VMR (#232)
  build/build.json
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_common.h
  vmr/src/common/xgq_cmd_vmr.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava

fix some copyright issues for SCL legal scan
  vmr/src/common/cl_xgq_client_plat.h
  vmr/src/common/cl_xgq_receive_plat.h
  vmr/src/vmc/vmc_sc_comms.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

fix copyright
  build/avstack.pl
Owners: @xdavidz

fix some copyright issues for SCL legal scan (#234)
  build/avstack.pl
  vmr/src/common/cl_xgq_client_plat.h
  vmr/src/common/cl_xgq_receive_plat.h
  vmr/src/vmc/vmc_sc_comms.c
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava, @sandeept8

Fix for CR-1143055
  vmr/src/vmc/platforms/v70.c
  vmr/src/vmc/vmc_asdm.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

CR-1143379 pass slot it by xclbin xgq command to APU
  build/build.sh
  build/regen_pdi.sh
  vmr/src/common/cl_xgq_client.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/include/cl_rmgmt.h
  vmr/src/rmgmt/rmgmt_common.h
  vmr/src/rmgmt/rmgmt_fpt.c
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava

CR-1137305 v70: Request: Adding an APU UART for Debug communication
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz
