Repository Xilinx/VMR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

.github/CODEOWNERS:

# This file defines code ownership in VMR.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.

vmr/src/common/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/include/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/lscript.ld	@xdavidz
vmr/src/rmgmt/	@xdavidz @houlz0507
vmr/src/vmc/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava @sandeept8

build/ @xdavidz

use stable TA pkg
  docker/docker-compose-jenkins.yml
  docker/vmr_setup_build.sh
Owners: none

Variables Initialized (#251)
  vmr/src/common/cl_xgq_client.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

add dev pkg
  docker/vmr_setup_build.sh
Owners: none

use stable TA pkg (#255)
  docker/docker-compose-jenkins.yml
  docker/vmr_setup_build.sh
Owners: none

CR-1143441 reconfig clock after xclbin download and before pr free (#250)
  vmr/src/include/cl_msg.h
  vmr/src/rmgmt/rmgmt_clock.c
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xclbin.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

refactor complete command with callback funcs
  vmr/src/common/cl_xgq_receive.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

code clean up for task status, plm log
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_common.h
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

code clean up for task status, plm log (#253)
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_common.h
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

not install base_1
  docker/vmr_setup_build.sh
Owners: none

CR-1144465 Initialized a Variable
  vmr/src/rmgmt/gic_setup.c
Owners: @xdavidz, @houlz0507

Review Fix
  vmr/src/rmgmt/gic_setup.c
Owners: @xdavidz, @houlz0507

RMI submodule improvement
  .gitmodules
  build/build.sh
Owners: @xdavidz

RMI submodule improvement (#259)
  .gitmodules
  build/build.sh
Owners: @xdavidz

Update vmr_setup_build.sh
  docker/vmr_setup_build.sh
Owners: none

new vmr test will take TA as an env and exclude base_1 (#257)
  docker/vmr_setup_build.sh
Owners: none

ignore RMI and only update XRT submodule
  build/build.sh
Owners: @xdavidz

rebase and retest
  build/build.json
  vmr/src/common/xgq_cmd_vmr.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava

CR-1144465 In GicSetupInterruptSystem: Use of an uninitialized variable (CWE-457) (#258)
  vmr/src/rmgmt/gic_setup.c
Owners: @xdavidz, @houlz0507

new vmr test will take TA as an env (#256)
  build/build.json
  build/build.sh
  vmr/src/common/xgq_cmd_vmr.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava

refactor rmgmt_xfer to receive pdi from shared memory directly
  vmr/src/common/cl_xgq_client.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/include/cl_msg.h
  vmr/src/include/cl_rmgmt.h
  vmr/src/rmgmt/rmgmt_fpt.c
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/rmgmt/rmgmt_xfer.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

refactor rmgmt_xfer to receive pdi from shared memory directly (#260)
  vmr/src/common/cl_xgq_client.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/include/cl_msg.h
  vmr/src/include/cl_rmgmt.h
  vmr/src/rmgmt/rmgmt_fpt.c
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/rmgmt/rmgmt_xfer.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Fix for CR-1143803: - Added abstraction to platform API's in ASDM
  vmr/src/vmc/platforms/v70.c
  vmr/src/vmc/platforms/v70.h
  vmr/src/vmc/platforms/vck5000.c
  vmr/src/vmc/platforms/vck5000.h
  vmr/src/vmc/vmc_api.h
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_asdm.h
  vmr/src/vmc/vmc_main.c
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Modified Asdm_Get_SDR_Size API
  vmr/src/vmc/vmc_asdm.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Fix for CR-1143803: - Added abstraction to platform API's in ASDM
  vmr/src/vmc/platforms/v70.c
  vmr/src/vmc/platforms/v70.h
  vmr/src/vmc/platforms/vck5000.c
  vmr/src/vmc/platforms/vck5000.h
  vmr/src/vmc/vmc_api.h
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_asdm.h
  vmr/src/vmc/vmc_main.c
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Modified Asdm_Get_SDR_Size API
  vmr/src/vmc/vmc_asdm.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Address CR-1145637
  vmr/src/vmc/platforms/v70.c
  vmr/src/vmc/vmc_asdm.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Fix for CR-1146500
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Fix for CR-1146500
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Update vmr_setup_build.sh
  docker/vmr_setup_build.sh
Owners: none

install only one dev pkg (#266)
  docker/vmr_setup_build.sh
Owners: none

v70 VDU interrupt change
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

v70 VDU interrupt change (#267)
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

Unit Test for VMR using CMocka
  build/build.sh
  vmr/src/vmc/ut/Makefile
  vmr/src/vmc/ut/mocks/common/utm_cl_i2c.c
  vmr/src/vmc/ut/mocks/common/utm_cl_logs.c
  vmr/src/vmc/ut/mocks/common/utm_cl_mem.c
  vmr/src/vmc/ut/mocks/freertos/utm_heap_4.c
  vmr/src/vmc/ut/mocks/freertos/utm_queue.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_ina3221.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_isl68221.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_lm75.c
  vmr/src/vmc/ut/mocks/vmc/utm_clock_throttling.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_api.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_main.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_sc_comms.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_sensor.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_update_sc.c
  vmr/src/vmc/ut/test/vmc/asdm/unittest.mk
  vmr/src/vmc/ut/test/vmc/asdm/utt_assert_SDRs.c
  vmr/src/vmc/ut/test/vmc/asdm/utt_assert_SDRs.h
  vmr/src/vmc/ut/test/vmc/asdm/utt_vmc_asdm.c
  vmr/src/vmc/ut/test/vmc/sensor/se98a/unittest.mk
  vmr/src/vmc/ut/test/vmc/sensor/se98a/utt_se98a.c
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava, @sandeept8

Unit Test for VMR using CMocka
  build/build.sh
  vmr/src/vmc/ut/Makefile
  vmr/src/vmc/ut/mocks/common/utm_cl_i2c.c
  vmr/src/vmc/ut/mocks/common/utm_cl_logs.c
  vmr/src/vmc/ut/mocks/common/utm_cl_mem.c
  vmr/src/vmc/ut/mocks/freertos/utm_heap_4.c
  vmr/src/vmc/ut/mocks/freertos/utm_queue.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_ina3221.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_isl68221.c
  vmr/src/vmc/ut/mocks/vmc/sensors/src/utm_lm75.c
  vmr/src/vmc/ut/mocks/vmc/utm_clock_throttling.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_api.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_main.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_sc_comms.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_sensor.c
  vmr/src/vmc/ut/mocks/vmc/utm_vmc_update_sc.c
  vmr/src/vmc/ut/test/vmc/asdm/unittest.mk
  vmr/src/vmc/ut/test/vmc/asdm/utt_assert_SDRs.c
  vmr/src/vmc/ut/test/vmc/asdm/utt_assert_SDRs.h
  vmr/src/vmc/ut/test/vmc/asdm/utt_vmc_asdm.c
  vmr/src/vmc/ut/test/vmc/sensor/se98a/unittest.mk
  vmr/src/vmc/ut/test/vmc/sensor/se98a/utt_se98a.c
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava, @sandeept8

adjust bdf to full path name, requested by VMR pipeline script
  build/upgrade_vmr.sh
Owners: @xdavidz

skip using TA from env
  build/build.json
  build/build.sh
Owners: @xdavidz

Revert "skip using TA from env"
  build/build.json
  build/build.sh
Owners: @xdavidz

adjust bdf to full path name, requested by VMR pipeline script (#268)
  build/upgrade_vmr.sh
Owners: @xdavidz

Fix for CR-1147109
  vmr/src/vmc/clock_throttling.c
  vmr/src/vmc/clock_throttling.h
  vmr/src/vmc/platforms/v70.c
  vmr/src/vmc/platforms/v70.h
  vmr/src/vmc/platforms/vck5000.c
  vmr/src/vmc/platforms/vck5000.h
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Address CR-1145637
  vmr/src/vmc/platforms/v70.c
  vmr/src/vmc/vmc_asdm.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8
