Repository Xilinx/VMR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

.github/CODEOWNERS:

# This file defines code ownership in VMR.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.

vmr/src/common/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/include/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/lscript.ld	@xdavidz
vmr/src/rmgmt/	@xdavidz @houlz0507
vmr/src/vmc/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava @sandeept8

build/ @xdavidz

Fix for CR-1147109
  vmr/src/vmc/clock_throttling.c
  vmr/src/vmc/clock_throttling.h
  vmr/src/vmc/platforms/v70.c
  vmr/src/vmc/platforms/v70.h
  vmr/src/vmc/platforms/vck5000.c
  vmr/src/vmc/platforms/vck5000.h
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Fix for CR-1147109
  vmr/src/vmc/clock_throttling.c
  vmr/src/vmc/clock_throttling.h
  vmr/src/vmc/platforms/v70.c
  vmr/src/vmc/platforms/v70.h
  vmr/src/vmc/platforms/vck5000.c
  vmr/src/vmc/platforms/vck5000.h
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Added Code Coverage feature in UT
  vmr/src/vmc/ut/Makefile
  vmr/src/vmc/ut/test/vmc/asdm/unittest.mk
  vmr/src/vmc/ut/test/vmc/sensor/se98a/unittest.mk
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Fix for CR-1145360
  vmr/src/include/cl_vmc.h
  vmr/src/include/vmr_common.h
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Added Code Coverage feature in UT
  vmr/src/vmc/ut/Makefile
  vmr/src/vmc/ut/test/vmc/asdm/unittest.mk
  vmr/src/vmc/ut/test/vmc/sensor/se98a/unittest.mk
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

reset payload_size in case of making host prints too many faked dmesg
  vmr/src/rmgmt/rmgmt_main.c
Owners: @xdavidz, @houlz0507

Fix for CR-1145360
  vmr/src/include/cl_vmc.h
  vmr/src/include/vmr_common.h
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

reset payload_size in case of making host prints too many faked dmesg (#273)
  vmr/src/rmgmt/rmgmt_main.c
Owners: @xdavidz, @houlz0507

VMC : Remove MAC Count override
  vmr/src/vmc/vmc_api.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Fix for CR-1147859:
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_update_sc.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

VMC : Remove MAC Count override
  vmr/src/vmc/vmc_api.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Fix for CR-1147859:
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_update_sc.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

additional fix for CR-1147558 clock throttling percentage in the dmesg
  vmr/src/rmgmt/rmgmt_main.c
Owners: @xdavidz, @houlz0507

additional fix for CR-1147558 clock throttling percentage in the dmesg (#276)
  vmr/src/rmgmt/rmgmt_main.c
Owners: @xdavidz, @houlz0507

CR-1148387 V70 XRT: "xbutil program" fails if xclbin is patched with 50 PS kernels
  vmr/src/rmgmt/rmgmt_xclbin.c
  vmr/src/rmgmt/rmgmt_xclbin.h
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

CR-1148387 V70 XRT: "xbutil program" fails if xclbin is patched with 50 PS (#277)
  vmr/src/rmgmt/rmgmt_xclbin.c
  vmr/src/rmgmt/rmgmt_xclbin.h
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

Fix for CR-1149168 inconsistent xgq_cmd_vmr.h and xgq_cmd_common.h
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_common.h
  vmr/src/common/xgq_cmd_vmr.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Fix for CR-1149168 inconsistent xgq_cmd_vmr.h and xgq_cmd_common.h
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_common.h
  vmr/src/common/xgq_cmd_vmr.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

additional fix for CR-1147558 clock throttling percentage in the dmesg
  vmr/src/include/vmr_common.h
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

additional fix for CR-1147558 clock throttling percentage in the dmesg
  vmr/src/include/vmr_common.h
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

interrupt handle
  build/build.sh
  vmr/src/common/cl_main.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/include/vmr_common.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava

Fix for CR-1150866 , CR-1150870
  vmr/src/vmc/clock_throttling.c
  vmr/src/vmc/clock_throttling.h
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Fix for CR-1150866 , CR-1150870
  vmr/src/vmc/clock_throttling.c
  vmr/src/vmc/clock_throttling.h
  vmr/src/vmc/vmc_asdm.c
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Copying .pdi files as well to VMR_ELF location
  docker/vmr_setup_build.sh
Owners: none

Copying .pdi files as well to VMR_ELF location (#283)
  docker/vmr_setup_build.sh
Owners: none

tweak upgrade vmr flow for VMR pipeline error handling
  build/upgrade_vmr.sh
Owners: @xdavidz

tweak upgrade vmr flow for VMR pipeline error handling (#285)
  build/upgrade_vmr.sh
Owners: @xdavidz

CR-1149236 Add support to dump APU's dimes and syslog to host
  vmr/src/common/cl_xgq_client.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/rmgmt/rmgmt_common.h
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

fix typo
  vmr/src/rmgmt/rmgmt_main.c
Owners: @xdavidz, @houlz0507

Fix for CR-1152505
  vmr/src/vmc/vmc_asdm.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

CR-1149236 Add support to dump APU's dimes and syslog to host (#282)
  vmr/src/common/cl_xgq_client.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/rmgmt/rmgmt_common.h
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Fix for CR-1152505 (#286)
  vmr/src/vmc/vmc_asdm.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Copying upgrade_vmr.sh to NFS location
  docker/vmr_setup_build.sh
Owners: none

Copying upgrade_vmr.sh to NFS location (#287)
  docker/vmr_setup_build.sh
Owners: none

CR-1153211 set RTOS task depth based on peak memory usage
  vmr/src/common/cl_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

adjust to 0x3000 for safer future room
  vmr/src/common/cl_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1153211 set RTOS task depth based on peak memory usage (#288)
  vmr/src/common/cl_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Migrated from Makefile to CMake build method for Unittest
  vmr/src/vmc/ut/CMakeLists.txt
  vmr/src/vmc/ut/Makefile
  vmr/src/vmc/ut/test/vmc/CMakeLists.txt
  vmr/src/vmc/ut/test/vmc/CodeCoverage.cmake
  vmr/src/vmc/ut/test/vmc/asdm/unittest.mk
  vmr/src/vmc/ut/test/vmc/sensor/se98a/unittest.mk
  vmr/src/vmc/ut/test/vmc/sensors/utt_se98a.c
  vmr/src/vmc/ut/test/vmc/utt_assert_SDRs.c
  vmr/src/vmc/ut/test/vmc/utt_assert_SDRs.h
  vmr/src/vmc/ut/test/vmc/utt_vmc_asdm.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Update build script to add RMI library
  build/build.sh
  build/build_smbus_RMI.json
  build/config_vmr_app_RMI.tcl
  vmr/src/vmc/vmc_main.c
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava, @sandeept8

Update build script to add RMI library (#291)
  build/build.sh
  build/build_smbus_RMI.json
  build/config_vmr_app_RMI.tcl
  vmr/src/vmc/vmc_main.c
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava, @sandeept8
