Repository Xilinx/VMR, changes with the owners that .github/CODEOWNERS names for each.
All owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

.github/CODEOWNERS:

# This file defines code ownership in VMR.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.

vmr/src/common/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/include/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava
vmr/src/lscript.ld	@xdavidz
vmr/src/rmgmt/	@xdavidz @houlz0507
vmr/src/vmc/	@krishna-xilinx @houlz0507 @xdavidz @shahabalilou @sgbhargava @sandeept8

build/ @xdavidz

Fix for CR-1139982
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

CR-1143379 pass slot it by xclbin xgq command to APU (#235)
  build/build.sh
  build/regen_pdi.sh
  vmr/src/common/cl_xgq_client.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/include/cl_rmgmt.h
  vmr/src/rmgmt/rmgmt_common.h
  vmr/src/rmgmt/rmgmt_fpt.c
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava

CR-1137305 v70: Request: Adding an APU UART for Debug communication (#236)
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

Fix for CR-1139982
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

CR-1143476 V70: VDU driver probe fails with reusable tag in dts and need to limit VDU to 2GB reserved memory
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

remove resusable
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

CR-1141518 xbutil validate failed after enable clock throttling
  vmr/src/common/cl_main.c
  vmr/src/common/cl_vmc_sc_comms.c
  vmr/src/common/cl_vmc_sensor.c
  vmr/src/common/cl_xgq_opcode.c
  vmr/src/include/cl_main.h
  vmr/src/include/cl_msg.h
  vmr/src/include/cl_vmc.h
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/vmc/clock_throttling.c
  vmr/src/vmc/clock_throttling.h
  vmr/src/vmc/vmc_main.c
  vmr/src/vmc/vmc_main.h
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

CR-1143476 V70: VDU driver probe fails with reusable tag in dts and need (#239)
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

revistied flow
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @xdavidz, @houlz0507

patch from Sandeep
  vmr/src/vmc/clock_throttling.c
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

final check
  vmr/src/vmc/vmc_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

CR-1141518 xbutil validate failed after enable clock throttling (#238)
  vmr/src/common/cl_main.c
  vmr/src/common/cl_vmc_sc_comms.c
  vmr/src/common/cl_vmc_sensor.c
  vmr/src/common/cl_xgq_opcode.c
  vmr/src/include/cl_main.h
  vmr/src/include/cl_msg.h
  vmr/src/include/cl_vmc.h
  vmr/src/rmgmt/rmgmt_xfer.c
  vmr/src/vmc/clock_throttling.c
  vmr/src/vmc/clock_throttling.h
  vmr/src/vmc/vmc_main.h
  vmr/src/vmc/vmc_sensors.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Clock throttling support for v70
  vmr/src/vmc/clock_throttling.c
  vmr/src/vmc/clock_throttling.h
  vmr/src/vmc/platforms/v70.c
  vmr/src/vmc/platforms/v70.h
  vmr/src/vmc/platforms/vck5000.c
  vmr/src/vmc/platforms/vck5000.h
  vmr/src/vmc/vmc_sensors.c
  vmr/src/vmc/vmc_sensors.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Fix for CR-1139363: XRT reports sc version reports 0.0.0
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_vmc.h
  vmr/src/vmc/vmc_sc_comms.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

Fix for CR-1139363: XRT reports sc version reports 0.0.0 (#242)
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_vmc.h
  vmr/src/vmc/vmc_sc_comms.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava, @sandeept8

CR-1140807_plm_logs Initial Draft
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/include/vmr_common.h
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Review Changes Comments and alignment
  vmr/src/include/cl_msg.h
  vmr/src/include/vmr_common.h
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

bring TA build to 1015_1, 1009 is deleted
  build/build.json
Owners: @xdavidz

VITIS-5653 2023.1 XRT: Live Reload VMR
  build/build.sh
  build/create_bsp.tcl
  build/regen_pdi.sh
  build/upgrade_vmr.sh
  vmr/src/common/cl_main.c
  vmr/src/common/cl_xgq_client.c
  vmr/src/common/cl_xgq_program.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_common.h
  vmr/src/include/cl_main.h
  vmr/src/include/cl_msg.h
  vmr/src/include/cl_rmgmt.h
  vmr/src/rmgmt/gic_setup.c
  vmr/src/rmgmt/gic_setup.h
  vmr/src/rmgmt/ipi.c
  vmr/src/rmgmt/ipi.h
  vmr/src/rmgmt/pm_init.c
  vmr/src/rmgmt/pm_init.h
  vmr/src/rmgmt/rmgmt_ipi.c
  vmr/src/rmgmt/rmgmt_ipi.h
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_pm.c
  vmr/src/rmgmt/rmgmt_pm.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava

bring TA build to 1015_1, 1009 is deleted (#245)
  build/build.json
Owners: @xdavidz

VITIS-5653 2023.1 XRT: Live Reload VMR (#212)
  build/build.sh
  build/create_bsp.tcl
  build/regen_pdi.sh
  build/upgrade_vmr.sh
  vmr/src/common/cl_main.c
  vmr/src/common/cl_xgq_client.c
  vmr/src/common/cl_xgq_program.c
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_common.h
  vmr/src/include/cl_main.h
  vmr/src/include/cl_msg.h
  vmr/src/include/cl_rmgmt.h
  vmr/src/rmgmt/gic_setup.c
  vmr/src/rmgmt/gic_setup.h
  vmr/src/rmgmt/ipi.c
  vmr/src/rmgmt/ipi.h
  vmr/src/rmgmt/pm_init.c
  vmr/src/rmgmt/pm_init.h
  vmr/src/rmgmt/rmgmt_ipi.c
  vmr/src/rmgmt/rmgmt_ipi.h
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_pm.c
  vmr/src/rmgmt/rmgmt_pm.h
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava

CR-1143880 VMR dtsi: vck5000: Request: Adding an APU UART for Debug communication
  build/dts/vck5000_2022.2.dtsi
Owners: @xdavidz

Fix for CR-1139982
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/vmc/vmc_sensors.c
Owners: @xdavidz, @houlz0507, @krishna-xilinx, @shahabalilou, @sgbhargava, @sandeept8

Fix for CR-1139982 (#244)
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/vmc/vmc_sensors.c
Owners: @xdavidz, @houlz0507, @krishna-xilinx, @shahabalilou, @sgbhargava, @sandeept8

CR-1143880 VMR dtsi: vck5000: Request: Adding an APU UART for Debug (#246)
  build/dts/vck5000_2022.2.dtsi
Owners: @xdavidz

CR-1143963 ASTeR TS 7 - v70 - xbtest stress hangs when ran with the APU loaded
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

regen vmrpdi is missing
  build/regen_vmrpdi.sh
Owners: @xdavidz

regen vmrpdi is missing (#248)
  build/regen_vmrpdi.sh
Owners: @xdavidz

CR-1140807 PLM Reports forward to Host from VMR (#243)
  vmr/src/common/cl_xgq_receive.c
  vmr/src/common/xgq_cmd_vmr.h
  vmr/src/include/cl_msg.h
  vmr/src/include/vmr_common.h
  vmr/src/rmgmt/rmgmt_main.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

CR-1144398 plm reset subsystem only works for v70, but hungs on vck5000
  build/regen_pdi.sh
  build/regen_vmrpdi.sh
  build/upgrade_vmr.sh
Owners: @xdavidz

CR-1143963 ASTeR TS 7 - v70 - xbtest stress hangs when ran with the APU (#247)
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

CR-1144398 plm reset subsystem only works for v70, but hungs on vck5000 (#249)
  build/regen_pdi.sh
  build/regen_vmrpdi.sh
  build/upgrade_vmr.sh
Owners: @xdavidz

Variables Initialized
  vmr/src/common/cl_xgq_client.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Variable Initialized
  vmr/src/rmgmt/gic_setup.c
Owners: @xdavidz, @houlz0507

Variable Initialized (#252)
  vmr/src/rmgmt/gic_setup.c
Owners: @xdavidz, @houlz0507

CR-1143441 reconfig clock after xclbin download and before pr free
  vmr/src/include/cl_msg.h
  vmr/src/rmgmt/rmgmt_clock.c
  vmr/src/rmgmt/rmgmt_main.c
  vmr/src/rmgmt/rmgmt_xclbin.c
  vmr/src/rmgmt/rmgmt_xfer.c
Owners: @krishna-xilinx, @houlz0507, @xdavidz, @shahabalilou, @sgbhargava

Add RMI submodule to VMR
  .gitmodules
  build/build.sh
  vmr/src/vmc/vmc_api.h
  vmr/src/vmc/vmc_main.c
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava, @sandeept8

CR-1143873 SW/DTSi updates to enable combining of GCQ interrupts with an interrupt controller
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

CR-1143873 SW/DTSi updates to enable combining of GCQ interrupts with an (#254)
  build/dts/v70_2022.2.dtsi
Owners: @xdavidz

Add RMI submodule to VMR (#240)
  .gitmodules
  build/build.sh
  vmr/src/vmc/vmc_api.h
  vmr/src/vmc/vmc_main.c
Owners: @xdavidz, @krishna-xilinx, @houlz0507, @shahabalilou, @sgbhargava, @sandeept8
